.chat-space
  .chat-space__header
    .chat-space__header__left
      .chat-space__header__left--group-title 
        = @group.name
      .chat-space__header__left--group-member
        メンバー：
        - @group.group_users.each do |group_user|
          = group_user.user.name
    .chat-space__header__right.decolation
      =link_to "groups/1/edit", class:"decolation" do
        .chat-space__header__right--group-edit Edit
  .chat-space__main
    = render partial: 'message', collection: @messages
  .chat-space__bottom
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit', id: 'submitBtn'

