.chat-space
  .chat-space__header
    .chat-space__header__left
      .chat-space__header__left--group-title グループ名
      .chat-space__header__left--group-member メンバー：
    .chat-space__header__right.decolation
      =link_to "groups/1/edit", class:"decolation" do
        .chat-space__header__right--group-edit Edit
  .chat-space__main
    = render partial: 'message', collection: @messages
  .chat-space__bottom
    .input-form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'input-form__box', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'message_image' do
            = fa_icon 'picture-o', class: 'fa fa-image input-form__box__image'
            = f.file_field :image, class: '#message_image input-box__image__file'
        = f.submit 'Send', class: 'input-form__submit'

