.message{"data-message_id": "#{message.id}"}
  .message__info
    .message__info--user-name
      = message.user.name
    .message__info--post-time
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .message__post
    - if message.content.present?
      %p.message__post
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?